@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import "font-awesome";

body {
  background: image_url('gplaypattern.png');
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.navbar {
  background: image_url('dark-triangles.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.navbar-inverse .navbar-brand {
  color: #EB23E5;
  font-family: 'Righteous', cursive;
  font-size: 26px;
  font-weight: 800;
}

.pagination {
  font-family: 'Righteous', cursive;
}

.pagination > li > a {
  color: #EB23E5;
}

.pagination > li > a:hover {
  color: black;
}

.page-item.active .page-link {
  background-color: #EB23E5;
  border-color: black;
}

.btn-pink {
  color: white;
  background-color: #EB23E5;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

a {
  color: #EB23E5;
}

a:visited {
  color: #32CD32;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.carousel-control-prev, 
.carousel-control-next {
  visibility: hidden;
}

.carousel-indicators li {
  background-color: #e7e7e7;
}

.carousel-indicators .active {
  background-color: #EB23E5;
}

.carousel {
  box-shadow: 0px 1px 3px #2a2a2a;
}

.carousel-caption {
  color: #EB23E5;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}